MvcWebProject/Connected Services/PersonServices/CRUDService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPersonByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPersonByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersons">
        <s:complexType />
      </s:element>
      <s:element name="GetPersonsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPersonsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pers" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SavePersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SavePersonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="personId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePersonResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPersonByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetPersonByName" />
  </wsdl:message>
  <wsdl:message name="GetPersonByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPersons" />
  </wsdl:message>
  <wsdl:message name="GetPersonsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="SavePersonSoapIn">
    <wsdl:part name="parameters" element="tns:SavePerson" />
  </wsdl:message>
  <wsdl:message name="SavePersonSoapOut">
    <wsdl:part name="parameters" element="tns:SavePersonResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePersonSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="DeletePersonSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:portType name="CRUDServiceSoap">
    <wsdl:operation name="GetPersonByName">
      <wsdl:input message="tns:GetPersonByNameSoapIn" />
      <wsdl:output message="tns:GetPersonByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <wsdl:input message="tns:GetPersonsSoapIn" />
      <wsdl:output message="tns:GetPersonsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePerson">
      <wsdl:input message="tns:SavePersonSoapIn" />
      <wsdl:output message="tns:SavePersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input message="tns:DeletePersonSoapIn" />
      <wsdl:output message="tns:DeletePersonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRUDServiceSoap" type="tns:CRUDServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonByName">
      <soap:operation soapAction="http://tempuri.org/GetPersonByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <soap:operation soapAction="http://tempuri.org/GetPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePerson">
      <soap:operation soapAction="http://tempuri.org/SavePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="http://tempuri.org/DeletePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRUDServiceSoap12" type="tns:CRUDServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonByName">
      <soap12:operation soapAction="http://tempuri.org/GetPersonByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <soap12:operation soapAction="http://tempuri.org/GetPersons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePerson">
      <soap12:operation soapAction="http://tempuri.org/SavePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap12:operation soapAction="http://tempuri.org/DeletePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRUDService">
    <wsdl:port name="CRUDServiceSoap" binding="tns:CRUDServiceSoap">
      <soap:address location="https://localhost:44378/CRUDService.asmx" />
    </wsdl:port>
    <wsdl:port name="CRUDServiceSoap12" binding="tns:CRUDServiceSoap12">
      <soap12:address location="https://localhost:44378/CRUDService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>